div{
    background-color: cornflowerblue;
    width: 200px;
    height: 300px;
    margin-left: 200px;
    margin-top: 100px;
}
/* margin-left */
/* margin-right */
/* margin-top */
/* margin-bottom */